@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
.title {
  font-family: "Metal Mania", cursive;
}
.red {
  color: rgb(88, 18, 18);
}
.spacepls {
  white-space: pre-line;
}
